* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  font-family: "Roboto", sans-serif;
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}
header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  min-height: 70px;
  color: #fff;
  background-color: #2a6c9d;
  position: sticky;
  top: 0;
  z-index: 9999;
  padding: 10px;
}
#logo{
  display: flex;
  align-items: center;

}
#logo img{
   height: 80px; 
   border-radius: 50%;
   border-color: grey;
   border-style: solid;
   border: 5px solid  #2a6c9d;
}
/* nav {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  height: 80px;
  align-items: center;
  padding: 0px 50px;
} */

/* .links {
  display: flex;
  gap: 30px;
  list-style: none;
} */

 a {
  color: #fff;
  text-decoration: none;
}

nav a:hover {
  color: black;
  font-family: arial;
  text-decoration: none;
}
nav a{
  font-weight: 600;
  padding-right: 10px;
}
.contenedor{
  max-width: 1200px;
  margin: 0 auto;
}

#home {
  background-image: url("../img/banner.jpg");
  background-size: cover;
  background-position: center;
  height: 500px;
  width: 100%;
  box-shadow: inset 0 0 0 2000px rgb(84 84 84 / 51%);
}

.flex {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
}

#home h1{
  font-family: "Montserrat", Helvetica, sans-serif;
 font-size: 3vw;
 color: white;
}
.card-banner{
  margin: 0 auto;
    text-align: center;
    padding: 0px 160px;
}
#servicios h1 {
  font-family: "Montserrat", Helvetica, sans-serif;
  text-align: center;
  margin-top: 50px;
  font-size: 40px;
  text-transform: uppercase;
}

#servicios img {
  border-radius: 50%;
  border-color: grey;
  border-style: solid;
  border: 5px solid #fff;
  
}
#servicios img:hover {
  border: 5px solid #2a6c9d;
}

.grid{
  padding-top: 50px;
  padding-bottom: 50px;
  display: grid;
  grid-template-columns: repeat(4,1fr);
  justify-items: center;
  align-items: center;
}
.circulo{
  display: flex;
  flex-direction: column;
  justify-content: center;

  
}
 .imgCir{
  display: block;
  position: relative;
  margin: auto;
}
.grid p{
  text-align: center;
}

#footer{
  background-color: black;
  height: 100px;
  width: 100%;
  flex: 1;
  /* position: fixed;
  bottom: 0px; */
}

.cont{
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
 padding-top: 10px;
  
}
.cont a{

 padding-right: 10px;
}

#footer h2{
  font-size: 20px;
  text-align: center;
  padding-top: 20px;
  margin: 0;
}


@media screen and (max-width:700px){
  header{
    flex-direction: column;

  }
  nav{
    padding: 10px 0px;
  }
  #home{
    height: 200px;
}
.contenedor{
  max-width: 420px;
}
.card-banner{
  padding: 0px 55px;
}


#footer {
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

}

@media screen and (max-width:1000px){
  #home{
    height: 300px;
}
.contenedor{
  max-width: 720px;
}
.card-banner{
  padding: 0px 75px;
}
}

@media screen and (max-width:550px){
  #home{
    height: 100px;
}
.container{
  max-width: 100px;
}
.card-banner{
  padding: 0px 55px;
}
.grid{
 
  display: grid;
  grid-template-columns: repeat(1,1fr);
  
}
.circulos{
  padding-top: 10px;
}
}
@media screen and (max-width:450px){
  #home{
    height: 100px;
}
.container{
  max-width: 100px;
}
.card-banner{
  padding: 0px 30px;
}

}