* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  font-family: "Roboto", sans-serif;
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}
header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  min-height: 70px;
 
  color: #fff;
  background-color: #2a6c9d;
  position: sticky;
  top: 0;
  z-index: 9999;
  padding: 10px;
}
#logo{
  display: flex;
  align-items: center;

}
#logo img{
   height: 80px; 
   border-radius: 50%;
   border-color: grey;
   border-style: solid;
   border: 5px solid  #2a6c9d;
}
/* nav {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  height: 80px;
  align-items: center;
  padding: 0px 50px;
} */

/* .links {
  display: flex;
  gap: 30px;
  list-style: none;
} */

 a {
  color: #fff;
  text-decoration: none;
}

nav a:hover {
  color: black;
  font-family: arial;
  text-decoration: none;
}
nav a{
  font-weight: 600;
  padding-right: 10px;
}
.contenedor{
  max-width: 1200px;
  margin: 0 auto;
  overflow: hidden;
  padding: 60px 0;
}

#home {
  /* background-image: url("../img/banner.jpg"); */
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
  /* height: 500px; */
  width: 100%;
  height: 100vh;
  background-image: linear-gradient(135deg, rgba(245, 247, 250, 0.5) 0%, rgba(195, 207, 226, 0.5) 100%),url("../img/banner.jpg");
  /* box-shadow: inset 0 0 0 2000px rgb(84 84 84 / 51%); */
  display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;  
    
}
:root{
  scroll-behavior: smooth;
}

.flex {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
}

#home h1{
  font-family: 'Lato', sans-serif;
 font-size: 4vw;
 color: black;
 width: 70%;
 padding-left: 25px;

}
.card-banner{
    padding-left: 25px;
    padding-bottom: 30px;
   
    /* padding: 0px 160px; */
    /* display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: flex-end; */
}
 /* #servicios{
   height: 400px;
  margin-bottom: 20px;
  padding-bottom: 30px;
  margin-top: 30px;

 } */

#servicios h1 {
  font-family: "Montserrat", Helvetica, sans-serif;
  text-align: center;
  margin-top: 50px;
  font-size: 40px;
  text-transform: uppercase;
}

#servicios img {
  border-radius: 50%;
  border-color: grey;
  border-style: solid;
  border: 5px solid #fff;
  
}
#servicios img:hover {
  border: 5px solid #2a6c9d;
}

.grid{
  padding-top: 50px;
  padding-bottom: 50px;
  display: grid;
  grid-template-columns: repeat(4,1fr);
  justify-items: center;
  align-items: center;
}
.circulo{
  display: flex;
  flex-direction: column;
  justify-content: center;

  
}
 .imgCir{
  display: block;
  position: relative;
  margin: auto;
}
.grid p{
  text-align: center;
}
#contacto{
  background-color: #2E75AB;
  margin-top: 40px;
  padding-top: 30px;
  padding-bottom: 50px;

}
.formu{
  margin-left: 10px;
  padding-top: 20px;
}
.formu h2{
  padding-left: 15px;
}
form{
  width: 450px;
  padding: 10px 20px;
  box-sizing: border-box;
  margin-top: 20px;
  padding-right: 20px;
  
}
.frame{
  width: 50%;
    padding: 0px 40px;
    margin-top: 20px;
    box-sizing: border-box;
    
}

.maps{
  border-radius: 15%;
  padding-top: 20px;
  padding-left: 15px;
}
input, textarea{
  width: 100%;
  margin-bottom: 20px;
  padding: 7px;
  box-sizing: border-box;
  font-size: 17px;
}

#footer{
  background-color: black;
  height: 100px;
  width: 100%;
  flex: 1;
  /* position: fixed;
  bottom: 0px; */
}

.cont{
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
 padding-top: 10px;
  
}
.cont a{

 padding-right: 10px;
}

#footer h2{
  font-size: 20px;
  text-align: center;
  padding-top: 20px;
  margin: 0;
}
.frame{
  width: 50%;
    padding: 0px 40px;
}

  
  

@media (max-width: 480px) {
  form{
    width: 100%;
  }
  .frame{
    
  }
}


@media screen and (max-width:700px){
  header{
    flex-direction: column;
    align-items: center;
  }
  nav{
    padding: 10px 0px;
  }
  #home{
    height: 200px;
}
.contenedor{
  max-width: 420px;
}
.card-banner{
  padding: 0px 55px;
}


#footer {
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

}

@media screen and (max-width:1000px){
  #home{
    height: 300px;
}
.contenedor{
  max-width: 720px;
}
.card-banner{
  padding: 0px 75px;
}
.formu{
  width: 100%;
  margin-bottom: 20px;
}

.frame{
  width: 100%;
}


}

@media screen and (max-width:550px){
  #home{
    height: 100px;
}
.container{
  max-width: 100px;
}
.card-banner{
  padding: 0px 55px;
}
.grid{
 
  display: grid;
  grid-template-columns: repeat(1,1fr);
  
}
.circulos{
  padding-top: 10px;
}

}
@media screen and (max-width:450px){
  #home{
    height: 100px;
}
.container{
  max-width: 100px;
}
.card-banner{
  padding: 0px 30px;
}

}