* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  font-family: "Roboto", sans-serif;
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}
header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  min-height: 70px;
  color: #fff;
  background-color: #2a6c9d;
  position: sticky;
  top: 0;
  z-index: 9999;
  padding: 10px;
}
#logo{
  display: flex;
  align-items: center;

}
#logo img{
   height: 80px; 
   border-radius: 50%;
   border-color: grey;
   border-style: solid;
   border: 5px solid  #2a6c9d;
}
/* nav {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  height: 80px;
  align-items: center;
  padding: 0px 50px;
} */

/* .links {
  display: flex;
  gap: 30px;
  list-style: none;
} */

 a {
  color: #fff;
  text-decoration: none;
}

nav a:hover {
  color: black;
  font-family: arial;
  text-decoration: none;
}
nav a{
  font-weight: 600;
  padding-right: 10px;
}
.contenedor{
  max-width: 1200px;
  margin: 0 auto;
  overflow: hidden;
  padding: 60px 0;
}

#home {
  /* background-image: url("../img/banner.jpg"); */
 
  background-attachment: fixed; 
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  min-height: 100vh;
  background-image: linear-gradient(135deg, rgba(245, 247, 250, 0.5) 0%, rgba(195, 207, 226, 0.5) 100%),url("../img/banner.jpg");
  display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;  
    
}
:root{
  scroll-behavior: smooth;
}

.flex {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
}

#home h1{
  font-family: 'Lato', sans-serif;
 font-size: 4vw;
 color: black;
 width: 70%;
 padding-left: 25px;

}
.card-banner{
    padding-left: 25px;
    padding-bottom: 30px;
   
  
}


#servicios h1 {
  font-family: "Montserrat", Helvetica, sans-serif;
  text-align: center;
  margin-top: 50px;
  font-size: 40px;
  text-transform: uppercase;
}

#servicios img {
  border-radius: 50%;
  border-color: grey;
  border-style: solid;
  border: 5px solid #fff;
  
}
#servicios img:hover {
  border: 5px solid #2a6c9d;
}

.grid{
  padding-top: 50px;
  padding-bottom: 50px;
  display: grid;
  grid-template-columns: repeat(4,1fr);
  justify-items: center;
  align-items: center;
}
.circulo{
  display: flex;
  flex-direction: column;
  justify-content: center;

  
}
 .imgCir{
  display: block;
  position: relative;
  margin: auto;
}
.grid p{
  text-align: center;
}
#contacto{
  background-color: #2E75AB;
  margin-top: 40px;
  padding-top: 30px;
  padding-bottom: 50px;

}
/* .formu{
  margin-left: 10px;
  padding-top: 20px;
  width: 50%;
  padding: 0px 40px;
  text-align: center;
} */
.formu h2{
  font-family: 'Lato', sans-serif;
  padding-bottom: 30px;
  font-size: 50px;
}
/* form{
  width: 450px;
  padding: 10px 20px;
  box-sizing: border-box;
  margin-top: 20px;
  padding-right: 20px;
  
} */
.formu{
  width: 50%;
  padding: 0px 40px;
  text-align: center;
}
.frame{
  /* width: 50%;
    padding: 0px 40px;
    margin-top: 20px;
    box-sizing: border-box; */
    width: 50%;
    padding: 0px 40px;
    
}

.maps{
  border-radius: 15%;
  padding-top: 20px;
  padding-left: 15px;
}
input, textarea{
  width: 100%;
  margin-bottom: 20px;
  padding: 7px;
  box-sizing: border-box;
  font-size: 17px;
}

#footer{
  background-color: black;
  padding-bottom: 0.1px;
  padding:30px 0px;
}
.footer-content{
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
  padding-top: 60px;
  padding-bottom: 40px;
}
.cont{
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
 padding-top: 10px;
  
}
.estudio{
  width: 40%;
  color: #fff;
}
.sub{
  font-weight: 500;
  font-size: 25px;
}
.sub + p{
  font-weight: 500;
}
.redes{
  width: 50%;
    display: flex;
    justify-content: flex-end;
}

.icons{
  display: inline-block;
    margin-left: 20px;
    width: 40px;
    height: 40px;
    border: 1px solid #fff;
    border-radius: 50%;
    text-align: center;
    color: #fff;
}
.icons i{
  font-size: 20px;
  line-height: 40px;
}

.icons:hover{
  background: #fff;
    color:#2a6c9d;
    animation: saltar 1s ease-out 1 normal both ;
}
@keyframes saltar {
  from{
    transform: translateY(0 ) scale(1,1);
  } 15%{
    transform: translateY(-1rem) scale(1,1.2);
  }
  35%{
    transform: translateY(-2.8rem) scale(1,1.08);
  }
  45%{
    transform: translateY(-2.8rem) scale(1,1.2);
  }
  65%{
    transform: translateY(0) scale(1,1);
  }
  75%{
    transform: translateY(.5rem) scale(1.2,.8);
  }
  85%{
    transform: translateY(0) scale(1,1);
  }
  95%{
    transform: translateY(0) scale(1.05,1.05);
  }
  to{
    transform: translateY(0) scale(1,1);
  }
}
.line{
  width: 90%;
  max-width: 1200px;
  margin: auto;
  height: 2px;
  background: #fff;
  margin-bottom: 60px;
}



@media (max-width: 480px) {
  form{
    width: 100%;
  }
  .frame{
    
  }
}


@media  (max-width:700px){
  header{
    flex-direction: column;
    align-items: center;
  }

  nav{
    padding: 10px 0px;
  }

.contenedor{
  max-width: 600px;
}
#contacto .formu{
 

}
/* .card-banner{
  padding: 0px 55px;
} */

#home{

  min-height: 30vh;
  background-position: 100% 40%;
 
}

.footer-content{
  justify-content: center;
  
}

.redes{
  width: 80%;
  justify-content: space-evenly;
  
}

.icons{
  margin-left: 0;
}

.estudio{
  text-align: center;
  width: 80%;
  margin-bottom: 40px;
}
}

@media screen and (max-width:1300px){
  #home{
    height: 400px;
    min-height: 52vh;
    width:100%;
    background-size: contain;
    background-repeat: no-repeat;
    background-attachment:fixed;
    background-position: 0px 100px;
   
}
.contenedor{
  max-width: 720px;
}
.card-banner{

  padding: 0px 75px;
}
.formu{
  /* width: 100%; */
  margin-bottom: 20px;
 
}

.frame{
  width: 100%;
 
}


}
@media (max-width:880px){
  #home{
    min-height: 30vh;
    background-position: 10% 20%;
    height: 250px;
  }

}
@media (max-width:700px){
  #home{
    min-height: 30vh;
    background-position: 10% 30%;
    height: 280px;
  }

}
@media screen and (max-width:550px){
  #home{
    /* position: relative;
   background-repeat:  no-repeat ;
   background-position: center;
    background-size: cover; */
    /* height: 500px; */
    background-position: 10% 30%;
    min-height: 20vh;
    height: 200px;
    /* overflow: hidden; */
 

}
.contenedor .circulo{
  max-width: 45vw;
  max-height: 100vhpx;
}
.card-banner{
  padding: 0px 55px;
}
.grid{
 
  display: grid;
  grid-template-columns: repeat(1,1fr);
  
}
.circulo{
  padding-top: 20px;
}
#servicios h1 {
  padding-top: 0px;
  margin-top: 1px;
}

}
@media screen and (max-width:450px){
  #home{
    height: 100px;
}
.container{
  max-width: 100px;
}
.card-banner{
  padding: 0px 30px;
}

}